.container {
    display: flex;
    flex-direction: column;
  }
.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    background: #FFA726;
  }
  
  .logosmall {
    width: 10%;
    height: 80%;
    margin: 1% 2% 2% 2%;
  }
  
  .menuLetter {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
  }
  
  .logout {
    display: flex;
    width: 5%;
    height: 60px;
    margin: 3% 2% 2% 2%;
    cursor: pointer;
  }
  
  .logout:hover {
    background-color: #FF5B80;
  }

  /* left side*/

  /* Split the screen in half */
.split {
    display: flex;
    width: 50%;
    flex-direction: column;
    position: absolute;
  }
  
  /* Control the left side */
  .left {
    flex:0 1 50%;
    height:78%;
    border: 10px solid #FFD95B;
    border-right-color: #C77800;
  }
  
  .leftContainer {
    display: flex;
    flex-direction: column;
   } 

   .menuOrderContainer {
    display: flex;
    flex-direction: column;
    height: 500px;
   } 

   .tableContainer {
    display: flex;
    text-transform: capitalize;
    cursor: pointer;
    margin-left: 106%;
    margin-top: -51%;
    width: 90%;
  }

  .tableContainer1 {
    display: flex;
    text-transform: capitalize;
    cursor: pointer;
    margin-left:0;
    margin-top: 5%;
  }
  
  table {
    width: 650px;
    height: 200px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #F5F2F2;
  }
  
  thead {
    background-color: #EAC78D;
    height: 30px;
  }
  
  thead tr :hover {
    background: #bcb2b2;
  }
  
  tbody tr:hover {
    background: #EAC78D;
  }
  
  td {
    font-size: 13px;
  }