/*order side right */
.menuOrderContainer {
    display: flex;
    flex-direction: row;
    /* display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 5fr; */
  }
.right {
    /* flex-direction: column; */
    background-color: red;
    /* flex: 1;
    border: 2px solid #7300ff;
    width: 50%; */
    grid-column: 2;
    grid-row: 1;
  }

.orderContainer {
    display: flex;
    flex-direction: column; 
    width: 50%; 
    /* margin:10%; */
  } 
  
  h1{
    font-weight: bold;
    font-size: 40px;
    margin: 3% 2% 0% 3%;
  }
  .tableContainer {
    display: flex;
    border: 1px solid #EAC78D;
    background-color: #F5F2F2;
    text-transform: capitalize;
    cursor: pointer;
   }
  
  
  table {
    width: 100%;
    height: 100px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #F5F2F2;
    
  }
  
  thead {
    background-color: #EAC78D;
    /* width: 100%; */
    /* height: auto; */
  
  }
  
  thead tr :hover {
    background: #d0cdcd;
  }
  
  tbody tr:hover {
    background: #EAC78D;
  }
  
  td {
    font-size: 20px;
    padding: 12px 35px;
  }
  
  .counterContainer {
    display: flex;
    flex-direction: row;
    margin: 10% 10% 10% 13%;
    /* background-color: #FF5B80; */
  }
  
  .counterbtn {
    /* display: flex;
    flex-direction: row; */
    /* margin-top: 20%; */
    /* border-radius: 15px; */
    background-color: #FF5B80;
    /* color: white; */
    /* font-weight: bold; */
    font-size: medium;
    /* border-color: transparent; */
    width: 40%;
    /* height: 1000%; */
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
    cursor: pointer;
  }
  
  