body {
  background-color: #FFA726;
}

.container {
  display: flex;
  flex-direction: column;
}

/* header */
.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  background: #FFA726;
}

.logosmall {
  width: 10%;
  height: 80%;
  margin: 1% 2% 2% 2%;
}

.menuLetter {
  font-weight: bold;
  font-size: 40px;
  margin: 3% 2% 0% 3%;
}

.logout {
  display: flex;
  width: 5%;
  height: 60px;
  margin: 3% 2% 2% 2%;
  cursor: pointer;
}

.logout:hover {
  background-color: #FF5B80;
}

/* Split the screen in half */
.split {
  display: flex;
  flex-direction: row;
  position: absolute;
}

/* Control the left side */
.left {
  flex: 1;
  width: 50%;
  height: 765px;
  border: 10px solid #FFD95B;
  border-right-color: #C77800;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 } 

.leftButtonContainer {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 90px;
}

.deployedMenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 0.5%;
  margin-top: 4%;
}

.menuProduct {
  border: 1px solid #EAC78D;
  background-color: #EAC78D;
  border-radius: 20px;
  text-align: center;
  padding: 1%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
  cursor: pointer;
}

.buttonMenu {
  background-color: transparent;
  border: transparent;
  font-weight: bold;
  font-size: 35px;
  cursor: pointer;
  justify-content: space-between;
  margin: 0 25% 0 18%;
}

.buttonMenu:hover {
  background-color: #FF5B80;
  border-radius: 15px;
}

/*right side */

.menuOrderContainer {
  display: flex;
  flex-direction: column;
  height: 500px;

 } 


h1 {
  font-size: 35px;
  margin: 3% 2% 5% 3%;
  text-align: center;
  position: relative;
  top:-490px;
  left: 100%;
}

.tableContainer {
  display: flex;
  text-transform: capitalize;
  cursor: pointer;
  margin-left: 25px;
  margin-top: -76%;
  position: relative;
  left: 101.5%;

}

table {
  width: 650px;
  height: 200px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #F5F2F2;
}


.tableNumber {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  align-items: center;
  position: relative;
  left: 35%;
  font-weight: bold;
  
}

.tableNumber select {
  width: 100px;
  height: 40px;
  font-size: 15px;
  text-align: center;
  padding: 0 15px;
}

thead {
  background-color: #EAC78D;
  height: 40px;
}

thead tr :hover {
  background: #bcb2b2;
}

tbody tr:hover {
  background: #EAC78D;
}

td {
  font-size: 20px;
  height: 50px;
}

.counterContainer {
  display: flex;
  /*margin: 25% 0 25% 4%;*/
  align-items: center;
  background-color: #FF5B80;
  /*height: 35px;*/
/*  padding: 0;*/
} 

.deleteProduct {
  background-color: #FF5B80;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  font-size: medium;
  border-color: transparent;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-left: 10%;
}

.sendProduct {
  background-color: #FF5B80;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  font-size: medium;
  border-color: transparent;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin: 20% 0% 20% 11%;
}

p {
  margin: 10% 10% 10% 10%;
}

tfoot tr:hover {
  background: #EAC78D;
}

.noMessageContainer{
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 800px;
}

.orderMessage {
  position: relative;
  top: -400px;
  left: 260%;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  width: 200px;
  /* margin: 0; */
}

.orderMessageImg {
  width: 300px;
  height: 300px;
  position: relative;
  top: -400px;
  left: 257%;
}

.btnProduct {
  font-size: 25px;
}

.selectValue{
  font-size: 5px;
}

.numberProduct {
  margin: 3% 10%;
  font-size: 20px;
}

.tableContainer1{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 20px;
}

@media screen and (min-width: 1400px) and (max-width: 1700px) {
  
  .headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background: #FFA726;
  }
  
  .logosmall {
    width: 5%;
    height: 70%;
    margin: 1% 2% 0% 2%;
  }

  .menuLetter {
    font-weight: bold;
    font-size: 35px;
    margin: 1.5% 2% 0% 3%;
  }

  .logout {
    display: flex;
    width: 3%;
    height: 50px;
    margin: 1.6% 2% 2% 2%;
    cursor: pointer;
  }
}